/*---------------  Colors  ---------------*/

$bg-color: white;
$topbar: black;
$logo1: orange;
$logo2: black;









/*---------------  Fonts  ---------------*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Sofia);
@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);

$logo-font1: 'Libre Baskerville', serif;
$logo-font2: 'Sofia', cursive;
$logo-sans: 'Rambla', sans-serif;