@import 'colors-and-fonts';

/*---- Main ----*/
body {  font-family: $logo-sans; }
#top-bar { width: 100%; height: 10px; background-color: $topbar; }
#container { width: 920px; margin: 0 auto; }
#logo-login { margin-top: 20px;}
.upper-bar { text-align: right; font-size: 20px; margin-top: 30px; }
.upper-bar a, #greeting { margin-left: 10px; }

/*---- Logo ----*/
#logo { font-family: $logo-font1; font-size: 60px; letter-spacing: -3px; text-align: center; }
#str { font-family: $logo-font2; font-size: 118%; margin-left: 3px; letter-spacing: 0; }

/*---- Nav -----*/
nav { font-size: 20px; font-weight: bold;}

