@import 'colors-and-fonts';

/*---- Main ----*/
body {  font-family: $logo-sans; background-color: $bg-color; }
#top-bar { width: 100%; height: 10px; background-color: $topbar; }
#container { width: 1080px; margin: 0 auto; }
#main { padding: 0; margin: 0;}

/*---- Header/Nav -----*/
header { margin: 0 0 30px 0; }
#logo { font-family: $logo-font1; font-size: 80px; letter-spacing: -3px; text-align: center; color: $primary-dark; float: left; }
  #str { font-family: $logo-font2; font-size: 119%; margin-left: 3px; letter-spacing: 0; color: $primary-light; }
#active_account { font-size: 20px; text-align: right; margin-top: 20px; padding-right: 0; }
  #active_account a { margin: 0 0 0 10px; }
nav { text-align: center; }
  .nav-btn { padding-top: 6px; border-left: solid white 5px; }
  nav a { background-color: $neutral; display: block; color: white; text-align: center; height: 32px; margin-top: 10px; }
  nav a:hover { color: white; background-color: $primary-light; }


/*---- Nav -----*/
nav { font-size: 20px; font-weight: bold;}

/*---- Pages ---*/
.page_title { font-size: 40px; font-weight: 700; margin: 0 0 40px 0; }
.page_title a { font-weight: 400; font-size:60%; }

/*---- Profiles ---*/
.profile_main {  }
  .profile_main-photos { float: left; }
    .profile_photos-primary { margin-bottom: 10px; }
    .profile_photos-thumbs { }
      .profile_photos-thumbs img { float: left; height: 60px; }
  .profile_main-details { }
    .profile_username { font-weight: 700; font-size: 50px; color: $primary-dark; margin: 0 0 10px 0; }
    .profile_tagline { width: 100%; color: $primary-light; border-top: solid 3px $neutral; border-bottom: solid 3px $neutral; font-size: 20px; padding: 5px; font-weight: 700;   }
    .profile_detail_row { font-size: 20px; margin: 10px 0; line-height: 1.1em; }
    .profile_linehead { font-weight: 700; color: white; padding: 2px 4px; font-size: 72%; background-color: $neutral; }
.profile_questions { }


/*---- Photos ----*/
.photo-thumbs { float: left; margin: 0 10px 10px 0; }